__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
.idea/
.vscode/
.env
venv/
.venv/
.pytest_cache/
.coverage
coverage.xml
stocks_products/db.sqlite3
static/
